@model To_Do_Tracker.Models.ToDo

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center text-light my-4">Task Details</h1>

<div class="card shadow-sm bg-dark text-light p-4">
    <h4 class="text-primary">To-Do Information</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3 font-weight-bold">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-3 font-weight-bold">
            @Html.DisplayNameFor(model => model.TaskStatus)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.TaskStatus)
        </dd>
    </dl>
</div>

<div class="text-center mt-4">
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning text-light border-0 hover-effect me-2">
        <i class="fas fa-edit"></i> Edit Task
    </a>
    <a asp-action="Index" class="btn btn-outline-secondary text-light hover-effect">
        <i class="fas fa-arrow-left"></i> Back to List
    </a>
</div>
