@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Register or Login for full functionality.</p>
    <h3>Navigation</h3>
    <p>Go to Tasks to see all tasks. You may Edit/Delete or see their details (Description and Status)<br/>You may also search by description or staus in search area</p>
</div>
