/* Hover effect for navbar links */
.navbar-nav .nav-link:hover {
    color: #f1c40f; /* Yellowish hover effect */
    background-color: rgba(255, 255, 255, 0.1);
}

/* Button link hover effect */
.navbar-nav .btn-link:hover {
    color: #f1c40f;
    background-color: rgba(255, 255, 255, 0.1);
}

/* Footer link hover effect */
.footer a:hover {
    color: #f1c40f;
}
.hover-effect:hover {
    text-decoration: underline;
    cursor: pointer;
}
/* Only target placeholders in form fields */
.form-control::placeholder {
    color: #636363!important; /* Adjust to your preferred color */
    opacity: 1!important;
}